@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Handjet:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Handjet:wght@100;200;300;400;500;600;700;800;900&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

.crimeApp {
  /* width: 100vh;
  height: 100vh; */
}

body {
  background: linear-gradient(
    0deg,
    rgba(28, 64, 128, 0.2),
    rgba(28, 64, 128, 0)
  );
  font-family: "Urbanist";
  color: #888;
  /* width: 100vh; */
  /* height: 100vh; */
  /* background-color: #e8e8e8; */
  /* color: antiquewhite; */
}

.globalCard {
  background-color: #fefefe;
  box-shadow: 9px 7px 40px -6px rgba(0, 0, 0, 0.25);
  font-family: "Lato", sans-serif;
}

#pageContainer {
  position: relative;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
}

.crimeApp {
  position: relative;
}

.headerWrapper {
  /* width: max-content; */
  display: flex;
  background-color: #fcfcfd;
  flex-direction: column-reverse;
  justify-content: center;
  height: 100px;
}

#header {
  justify-content: center;
  align-items: center;
  align-content: center;
  /* background-color: white; */
  /* opacity: 0.5; */
  color: #1c4080;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  top: 10px;

  /* width: 100%;
  /* height: 60px; 
  /* text-align: center; */
  margin: 0;
}

.headerTitle {
  justify-content: center;
  align-items: center;
  color: #0c0c0d;
  text-align: center;
  font-family: "Urbanist", sans-serif;
  font-size: 2.7rem;
}

.headerSvgWrapper {
  width: 60px;
  height: 20px;
  border-radius: 4px;
  display: flex;
  display: inline-block;
}

#headerSvg {
  position: relative;
  right: 20px;
  top: -10px;
}

#introWrapper {
  margin: 20px;
  /* width: 450px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: solid;
  padding: 20px;
  border-radius: 20px;
  border-color: #f0f0f0;
}

.introIcon {
  height: 80px;
  width: 80px;
  min-width: 80px;
}

.introSentenceOneWrapper,
.introSentenceTwoWrapper {
  display: flex;
  /* align-items: ; */
}

.crimeTotals {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
  padding: 20px;
  border-radius: 10px;
  border-color: #fefefe;
  color: #0c0c0d;
  background-color: #fefefe;
  box-shadow: 9px 7px 40px -6px rgba(0, 0, 0, 0.25);
  font-family: "Lato", sans-serif;
}

.crime {
  background-color: #fefefe;
  box-shadow: 9px 7px 40px -6px rgba(0, 0, 0, 0.25);
  font-family: "Lato", sans-serif;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: solid;
  padding: 20px;
  border-radius: 10px;
  border-color: #f0f0f0;
  background-color: white;
}

.crimes {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-evenly;
}

.stopItemWrapper {
  background-color: #fefefe;
  box-shadow: 9px 7px 40px -6px rgba(0, 0, 0, 0.25);
  font-family: "Lato", sans-serif;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: solid;
  padding: 20px;
  border-radius: 10px;
  border-color: #f0f0f0;
  background-color: white;
  margin: 10px;
}

.innerlegislationPieWrapper {
  width: 300px;
}

.legislationPieWrapper {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
  padding: 20px;
  border-radius: 10px;
  border-color: #f0f0f0;
  background-color: #fefefe;
  box-shadow: 9px 7px 40px -6px rgba(0, 0, 0, 0.25);
  font-family: "Lato", sans-serif;
}

.OutcomeLinkedPieWrapper {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
  padding: 20px;
  border-radius: 10px;
  border-color: #f0f0f0;
}

#totalsPiechart {
  display: flex;
  font-weight: 700px;
}

.totalsAndCrimeWrapper {
  display: flex;
}

#inputBoxWrapper {
  margin: 20px;
  height: 30px;

  /* width: ; */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: solid;
  padding: 20px;
  border-radius: 20px;
  border-color: #f0f0f0;
  background-color: #fefefe;
  /* if you decide to add an icon here will need change align items and maybe add some padding */
  /* have hidden the wrapper but it is still there */
}

#inputBox {
  height: 40px;
  width: 100;
  display: flex;
  border-radius: 15px;
  border: none;
  outline: none;
  /* padding-right: 400px; */
  font-size: 16px;
  max-width: 480px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

svg text {
  font-size: 5px;
  fill: white;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
